.parrafo{
	text-align: justify;
}

.listCate{
	padding-left: 15px;
	padding-right: 15px;
	display: inline-block;
	margin-top: 20px;
}
.listCate2{
	padding-left: 4%;
	padding-right: 4%;
	display: inline-block;
	margin-top: 20px;
}
li{
	list-style: none;
}
.card-img{
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: 5%;
}